<%= render 'shared/header', header: "Containers" do %>
  <%= link_to new_container_path, class: "btn btn-success" do %>
    <i class="bi bi-plus"></i> New container
  <% end %>
<% end %>

<%= render 'containers/filter', q: @q %>

<div id="containers">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-end">Income</th>
          <th class="text-end">Expense</th>
          <th class="text-end">Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @containers.each do |container| %>
            <%= render container %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

