<%= render 'shared/header', header: 'Categories' do %>
  <%= link_to "New category", new_category_path %>
<% end %>

<div id="containers">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

